body{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

.fontbarlow
{font-family: 'Barlow', sans-serif;
}
.fontFraunces{
  font-family: 'Fraunces', serif; 
}
.textpositioncentered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* nav css */
.basenav{
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  align-items: center;
  font-family: 'Barlow', sans-serif;

}
.nav-links
{
  display: flex;
  justify-content: space-around;
  width: 45%;
  padding-top: 10px;
}
.nav-links a{
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}
.nav-links li{
  list-style: none;
}
.nav-links a:hover{
  color: #fff;
}
.btncontact{
  border-radius: 30px;
  background-color: #fff;
  text-transform: uppercase;
  font-family: 'Fraunces', serif; 
  padding: 10px 20px;
  color: #000 !important;
  font-size: 15px;

}
.btncontact:hover{
  color: #fff !important;
  background-color: #6fcfff;

}
.navlinkmargin
{ margin-right: 10%;}
/* burger menu */
.burger
{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .nav-links
  {
    width: 65%;
   
  }
}
@media screen and (max-width: 786px) {
  body {
    overflow-x: hidden;
  }
  .nav-links
  {
   position: absolute;
   text-align: center;
   right: 0%;
   height: 50vh;
   top: 8vh;
   background-color:#fff;
   display: flex;
   flex-direction: column;
   width: 80%;
   transform: translateX(100%);
   transition: transform 0.5s ease-in;
   padding-left: 0rem;
   z-index: 2;
  }
  .nav-links li {
    opacity: 1;
  }
  .nav-links a , .nav-links a:hover{
   color: #000;
  }
  .burger{
    display: block;
  }
  .btncontact{
    background-color:#fed601;
  }
}
.nav-active{
 transform: translateX(0%);
}

/* burger line toggles and transitions */
.line1
{transform: rotate(45deg) translate();
  transition: transform 0.3s ease-in;
}
.line3
{transform: rotate(-45deg) translate();
  transition: transform 0.3s ease-in;  
}
.toggle .line1{
 transform: rotate(-45deg) translate(-5px,6px);
 transition: transform 0.3s ease-in;
}
.toggle .line2{ opacity: 0;}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
  transition: transform 0.3s ease-in;}

/* header css */
.heroText{
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  font-family: 'Fraunces', serif; 
  text-transform: uppercase;
  letter-spacing: 7px;
 
}
.graphic_photography_Herotext{
  text-align: center;
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

/*  section 1*/
.borderlearnmore1{
  background-color: #fed000;
  position: relative;
  margin: 0;
  z-index: -1;
  top: -2%;
  width: 114px;
  height: 7px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  visibility: hidden;
}
.learnmore1:hover + .borderlearnmore1{
 visibility: visible;

}
.borderlearnmore2{
  background-color: #ff7364;
  position: relative;
  margin: 0;
  z-index: -1;
  top: -2%;
  width: 114px;
  height: 7px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  visibility: hidden;
}
.learnmore2:hover + .borderlearnmore2{
  visibility: visible;
}
